/*List Product*/
.box-products .product {
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid rgb(150, 148, 148);
    border-radius: 5px;
    margin: 25px 45px;
}

.product .images {
    position: relative;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
}

    .product .images img {
        height: 250px;
        width: 100%;
    }

    .product .images:hover img {
        transform: scale(1.1);
    }

    .product .images .icons {
        position: absolute;
        bottom: -10rem;
        left: 0;
        right: 0;
        display: flex;
    }

    .product .images:hover .icons {
        bottom: 0;
    }

    .product .images .icons a {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        width: 50%;
        text-decoration: none;
        font-weight: bold;
        background: #72A0C1;
        color: white;
    }

.btn-cart {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.product .images .icons a:hover {
    background: transparent;
    color: white;
}

.content {
    padding: 10px;
    text-align: center;
}

    .content h3 {
        font-family: Montserrat;
        color: black;
        font-weight: bold;
        font-size: 22px;
    }

.price {
    font-family: Montserrat;
    font-weight: bold;
    color: rgb(136, 131, 131);
}

.quantity {
    font-family: Montserrat;
    font-weight: 400;
    color: black;
}

    .quantity span {
        font-weight: bold;
        color: black;
    }

#title {
    color: #72A0C1;
    font-weight: bold;

}

.carousel {
    margin-top: 40px;
    margin-bottom: 60px;
}
