@model FINAL_ASSIGNMENT.Models.User
@using FINAL_ASSIGNMENT.Models
@{
	ViewData["Title"] = "Register";
}

<!-- Section: Design Block -->
<section class="">
	<!-- Jumbotron -->
	<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
		<div class="container">
			<div class="row gx-lg-5 align-items-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<h1 class="my-5 display-3 fw-bold ls-tight">
						The best offer <br />
						<span class="text-primary">for your business</span>
					</h1>
					<p style="color: hsl(217, 10%, 50.8%)">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Eveniet, itaque accusantium odio, soluta, corrupti aliquam
						quibusdam tempora at cupiditate quis eum maiores libero
						veritatis? Dicta facilis sint aliquid ipsum atque?
					</p>
				</div>

				<div class="col-lg-6 mb-5 mb-lg-0">
					<div class="card">
						<div class="card-body py-5 px-md-5">
							<form asp-action="Register">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<!-- 2 column grid layout with text inputs for the first and last names -->
								<div class="row">
									<div class="form-outline mb-4">
										<label asp-for="FullName" class="form-label control-label"></label>
										<input asp-for="FullName" class="form-control" />
										<span asp-validation-for="FullName" class="text-danger"></span>
									</div>
									<div class="form-outline mb-4">
										<label asp-for="Username" class="form-label control-label"></label>
										<input asp-for="Username" class="form-control" />
										<span asp-validation-for="Username" class="text-danger"></span>
									</div>
									<div class="form-outline mb-4">
										<label asp-for="Password" class="form-label control-label"></label>
										<input asp-for="Password" class="form-control" type="password" />
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
									@*<div class="form-outline mb-4">
										<label asp-for="Password" class="form-label control-label"></label>
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>*@
									
									<div class="form-outline mb-4">
										<label asp-for="Email" class="form-label control-label"></label>
										<input asp-for="Email" class="form-control" />
										@*<span asp-validation-for="Email" class="text-danger"></span>*@
									</div>

									<!-- Password input -->
									<!-- Submit button -->
									<button type="submit" value="Đăng Ký" class="btn btn-primary btn-block mb-4">
										Register
									</button>
									<h3 style="font-weight: bold; color: orangered;">@ViewBag.RegisterFail</h3>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" type="url" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}



